html {
    background-color: #222646;
}
.current {
    color: white
}

/* component */
.c-grid__item {
    color: white;
    text-decoration: none;
}
.c-grid {
    width: 80%;
    height: auto;
    margin: 0 auto;
}
.c-button--right {
    position: absolute;
    top: 0%;
    right: 5%;
}

/* project */
.p-section__follow-info {
    position: relative;
    display: flex;
    list-style: none;
}
.p-section--left {
    text-decoration: none;
    margin-right: 1rem;
    color: #ff1988;
}

/* utility */
.u-text {
    text-align: center;
    margin-top: 2em;
    color: #ff1988;
}