html {
    height: 100%;
    background-color: #222646;
}
/* component */
.c-grid__item {
    color: #ffffff;
    text-decoration: none;
}
.c-button--right {
    position: absolute;
    top: 0%;
    right: 5%;
}
.c-text {
    color: #ff1988; 
    margin-top: 2em;
    text-align: center;
}
/* project */
.p-box {
    display: flex;
    flex-direction: column;
    margin-top: 8em;
    margin-left: 10em;
}
.p-text {
    color: #ff1988;
}
.p-button {
    min-width: 10em;
}
.p-section__follow-info {
    display: flex;
    list-style: none;
    position: relative;
}
.p-section--left {
    text-decoration: none;
    min-width: 100px;
}

/* utility */
.u-text {
    color: #ffffff;
}